<h1>Answers#edit</h1>
<%= form_for @answer do |f| %>
  <%= #render 'shared/error_messages', :object => f.object 
  %>
  <div class="field">
    <%= f.text_field :answertext %>
  </div>
  
  <div class="actions">
    <%= f.submit "Ändern" %>
  </div>
<% end %>