 body { text-align:center; background:#a8cff0; font-size:90%; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; margin:0; padding:0; }
	  #page { width:50em; text-align:left; background:#FFF; border:4px solid #ecf3f9; margin:32px auto; padding:2em; }
	  h1 { font-family:"Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight:normal; margin:0 0 0.5em 0; }
	  .clear { clear:both; }


#ecken { width:30em; background:#A8CFF0; margin:0 auto; padding:1em; position:relative; }
#ecken img { position:absolute; }
#ecken img.eck1 { top:0; left:0; }
#ecken img.eck2 { top:0; right:0; }
#ecken img.eck3 { bottom:0; left:0; }
#ecken img.eck4 { bottom:0; right:0; }

