<h1>Passwort vergessen?</h1>

<form 
  action="mailto:dummy1@chamisplace.com"
  method="POST"
  enctype="multipart/form-data"
  name="EmailTestForm">
  
Haben Sie ihr Passwort vergessen? Dann tragen Sie bitte Ihren Vor-und Nachname und ihre E-Mail in die Felder 
und unsere Administratoren schicken Ihnen ihr Passwort zu.<br>
<br>
Ihre E-Mail:<br>
<input type="text" size="20" name="VisitorName"><br><br>

Ihr Nachname:<br>
<input type="text" size="20" name="VisitorName"><br><br>

Ihr Vorname:<br>
<input type="text" size="20" name="VisitorName"><br><br>
<input type="submit" value="E-Mail verschicken">