<h1>Encuesta</h1>
<p>
  Dies ist die Home-Page des Encuesta-Umfragen-Systems. Erstellt in Unterstützung mit
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  
  </p>
  
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
