<h1>Impressum</h1>

<h3>Berufsakademie für IT und Wirtschaft Oldenburg</h3>
 
<p><b>Standort Industriestraße (Sitz der Verwaltung)</b><br>
Industriestraße 6<br>
26121 Oldenburg</p>
 
<p><b>Standort Escherweg:</b><br>
Escherweg 2<br>
26121 Oldenburg</p>
 
<p>Tel.: 0441 9722-120<br>
Fax: 0441 9722-775<br>
Email: service@ba-oldenburg.de</p>
<p>
Servicezeiten:<br>
Montag - Freitag von 08:15 - 12:15 Uhr und 13:30 - 17:30 Uhr<br>
</p>