body {
    
   font-family:Arial;
   font-size: 13pt;
   color:#FFFFFF;
 
    }

header {
    padding-top: 20px;
     
}
header img {
	padding: 0em;
	margin-top:1em;
    border: 0;
    position: absolute;
    left: 12%;
    z-index:0;
    background: #fff;
}
/* Die Sidebox */
#sidebox {
    width:13em;
    background:#3c9aa6;
    margin:0 ;
    padding:0.5em;
    position:absolute;
    /*margin:30px auto;*/
    margin-top:3em;
    /*left:67%;*/
    right: 0em;
}

#middlebox {
    width:43em;
    background:#3c9aa6;
    margin: 0em ;
    padding:1em;
    margin-top:3em;
    position: absolute ;
    left:20%;
}

#middleboxSignIn {
	width:45em;
    background:#3c9aa6;
    margin: 0em ;
    padding:1em;
    position:relative;
    margin-top:3em;
    position: absolute ;
    left: 20%;
}

#menuebox {
    width:10em;
    background:#3c9aa6;
    margin:0 ;
    padding:0.5em;
    margin-right: 15%;
    position:absolute;
    margin:30px auto;
    margin-top:3em;
    left:0em;
 } 

#userbox {
    width:10em;
    background:#3c9aa6;
    margin:0 ;
    padding:0.5em;
    position:absolute;
    margin:30px auto;
    margin-top:3em;
    left:68em;
 } 

.round {
    -moz-border-radius:    30px;
    -webkit-border-radius: 30px;
    border-radius:         30px;
}

.round2 {
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}

.abstand {
	margin-top:10em;
}

.menuebuttons {
	z-index:1;
	padding: 0em;
	position: absolute;
	left: 38%;
	

}




a {
    color: #FFFFFF;
    text-decoration: none;
}

.forgottenpw {
	font-size:13px;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
a:visited {
    color: #800080;
}


/* Navigation */

nav {
    position:relative;
    margin: 100px auto;
    margin-top:100px;
    left:390px;
    padding: 0 0.8em;
    white-space: nowrap;
    
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}
nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}
nav ul li a:visited {
    color: #09c;
}
nav ul li a:hover {
    text-decoration: underline;
}
