body {
    
   font-family:Arial;
 
    }

header {
    padding-top: 20px;
}
header img {
    padding: 0em;
    border: 0;
    position: absolute;
    left: 12%;
    background: #fff;
}
/* Die Sidebox */
#sidebox {
    width:13em;
    background:#3c9aa6;
    margin:0 ;
    padding:0.5em;
    position:relative;
    margin:30px auto;
    margin-top:10px;
    left:400px;
}

#middlebox {
    width:46em;
    background:#3c9aa6;
    margin: 0em ;
    padding:0.5em;
    position:relative;
    margin-top:-245px;
    left:160px;
}


.round {
    -moz-border-radius:    30px;
    -webkit-border-radius: 30px;
    border-radius:         30px;
}


#sidebox img {
    position:absolute;
    border: 0;


#menuebar {

	 position: absolute;
	 
}



a {
    color: #09c;
    text-decoration: none;
}

.forgottenpw {
	font-size:13px;
}

a:hover {
    color: #069;
    text-decoration: underline;
}
a:visited {
    color: #069;
}


/* Navigation */

nav {
    position:relative;
    margin: 100px auto;
    margin-top:100px;
    left:390px;
    padding: 0 0.8em;
    white-space: nowrap;
    
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}
nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}
nav ul li a:visited {
    color: #09c;
}
nav ul li a:hover {
    text-decoration: underline;
}